*{
    transition: all 500ms;
}
.img-songs{

    border: 5px solid #005682;
    border-radius:10px; 
    max-width: -webkit-fill-available;
}

.img-songs:hover{
    border: 5px solid #c53333;
}
.browse-song-wrap a :hover{
    background-color: #b74141ab;
    border-radius: 10px;
}
.browse-song-wrap a{
    position: relative;
    display: block;
    margin: 10px;

}
.browse-song-wrap{
    overflow: hidden;
    padding: 0;
}
figcaption{
    text-align: center;
    padding-top: 150px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
figcaption h4{
    display: none;
    font-size: 35px;
    color:#fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
figcaption:hover h4{
    display: block;
}
.browse-song-down{
    text-align: center;
    padding-left: 10px;
}
.browse-song-down a{
    font-size: 25px;
};