.song-info{
    max-width: 450px;
    margin-left: 200px;
    height: 600px;
    Background-color: #005682
}
.song-info:hover{
    background-color: #c53333
}
.song-img{
    margin-left: 100px;
    max-width: 600px;
    height: 600px;
}
.song-img img{
    border: 5px solid #005682;
    width: 100%;
    height: 100%;
}
.song-img img:hover{
border-color: #c53333
}
